<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678475959774-if0lfd7f102q13il13d6a5qjchcs2kf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678475959774-if0lfd7f102q13il13d6a5qjchcs2kf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBoB4qmuqzk7tfctbMrP2OWPoIlSBcgUIU</string>
	<key>GCM_SENDER_ID</key>
	<string>678475959774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.TenetAi.CCC</string>
	<key>PROJECT_ID</key>
	<string>ccc88degrees</string>
	<key>STORAGE_BUCKET</key>
	<string>ccc88degrees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678475959774:ios:5b544181cc03ab2591214f</string>
</dict>
</plist>